<div class="site-header">

	<!-- site logo -->
	<a href="/#/default/home" class="site-logo">Display</a>

	<!-- social nav -->
	<ul class="social-nav">
		<li><a href="#" class="social-nav-twitter">Twitter</a></li>
		<li><a href="#" class="social-nav-facebook">Facebook</a></li>
		<li><a href="#" class="social-nav-rss">RSS</a></li>
		<li><a href="#" class="social-nav-pinterest">Pinterest</a></li>
		<li><a href="#" class="social-nav-google-plus">Google+</a></li>
		<li><a href="#" class="social-nav-dribble">Dribble</a></li>
	</ul>

	<!-- site nav -->
	<ul class="site-nav">
		<li><a href="/#/default/home">Home</a></li>
		<li><a href="/#/default/about">About</a></li>
	</ul>

</div>
