.boxes {
	font-size: 0;

	.box {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: bold;
		width: 100px;
		height: 100px;
		background: var(--mainColor);
		color: red;
		line-height: 100px;
		text-align: center;
		display: inline-block;
		box-shadow: 1px 1px 5px #111;
		border-radius: 3px;
		margin: 5px;
		transition: background 150ms, transform 150ms;

		&:hover {
			background: #330000;
			transform: translateY(1px);
		}
	}
}