.site-logo {
	$color: #737373;

	font-size: 24px;
	font-weight: bold;
	color: $color;
	text-decoration: none;
	text-transform: uppercase;

	&:before {
		display: inline-block;
		content: "D";
		line-height: 1;
		font-size: 1.3em;
		margin-right: 10px;
		background-color: $color;
		color: #fff;
		padding: 8px 14px;
	}

	&:hover {
		text-decoration: none;
	}
}